################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MUTeam_Code/.vs/MUTeam_Code
/MUTeam_Code/MUTeam_Code/obj/Debug
